/* Start Global Rules */
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        transition: 0.3s;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: "Open Sans", sans-serif;
        /* or the fonts you chose */
    }

    ul {
        list-style: none;
    }
    img {
        max-width: 100%;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        /* Small */
        @media (min-width: 768px) {
            width: 750px;
        }
    
        /* Medium */
        @media (min-width: 992px) {
            width: 970px;
        }
    
        /* Large */
        @media (min-width: 1200px) {
            width: 1170px;
        }
    }
    $breakpoint-sm: 576px;
    $breakpoint-md: 768px;
    $breakpoint-lg: 992px;
    $breakpoint-xl: 1200px; 
/* End Global Rules */

/* start variables*/

$main-color: #19c8fa;
$transparent-color: rgb(15 116 143 / 70%);
$section-padding: 100px;   
/* End variables*/

/* start mixins */
@mixin overlay($color : 0.5) {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0,  $color);
}
@mixin centerX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End End */

/* start global components*/
.special-heading{
    padding-bottom: 50px;
    text-align: center;
    position: relative;

    h2{
        &:first-of-type{
            text-transform: uppercase;
            font-weight: normal;
            color: black;
            padding-bottom: 30px;
            font-size: 40px;
            position: relative;
            margin-bottom: 40px;
            transition: 0.3s;
        }
        &::before{
            content: '';
            width: 130px;
            height: 2px;
            background-color: #777;
            @include centerX();
            bottom: 0;

        }
        &:after {
            content: "";
            @include circle(20px);
            @include centerX();
            background: white;
            border: 1px solid #777;
            bottom: -10px;
            transition: 0.3s;
        }
        &:hover{
            &::after{
               background-color: $main-color; 
            }
        }
    }
    p{
        &:first-of-type{
            color: #777;
            width: 50%;
            text-align: center;
            @include centerX();
        }
    }
} 
/* End global components*/

// start home section 
.home_section {
    min-height: 100vh;
    background-color: aqua;
    background-image: url('../asssets/landing.jpg');
    background-size:cover ;
    position: relative;
    &:before{
        content: '';
        @include overlay();
    }
    .header{
        position: relative;
        padding: 15px;
        min-height: 60px;
        .container{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                &:first-of-type{
                    height: 40px;
                }
            }
            .nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                ul{
                    display: flex;
                    z-index: 2;
                    transition: 0.5s;
                    li{
                        display: block;
                        a{
                            text-decoration: none;
                            color: white;
                            font-weight: normal;
                            text-transform: uppercase;    
                            padding:  17px 10px;
                            transition: .5s;
                        }
                        a:hover, .active{
                            color: $main-color ;
                            border-bottom: 1px solid $main-color;
                        }
                    }
                    @media (max-width:768px) {
                        display: none;
                    }
                }
                i{
                    &:first-of-type{
                        color: white;
                        font-size: 20px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        display: none;
                        @media (max-width:768px) {
                            display: block;
                            right: 50px;
                            &:hover + ul , 
                            + ul:hover{  
                                display: flex;
                                flex-direction: column;
                                position: absolute;
                                top: 150%;
                                left: 0;
                                width: 100%;
                                background-color: rgb(0 0 0 / 0.9);
                                li{
                                    padding: 20px 0;
                                    width: 100%;
                                    a{
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                    &:last-of-type{

                        color: white;
                        font-size: 15px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                    }
                }
            }
            &:after{
                content: "";
                position: absolute;
                left: 15px;
                bottom: -10px;
                height: 1px;
                width: calc(100% - 30px);
                background-color: #aaa;
            }
        }
    }

    .text{
        left: 0;
        @include centerY();
        color: white;
        background-color: $transparent-color;
        width: 60%;
        padding: 50px;
        h2{
            text-transform: uppercase;
            line-height: 2;
            font-weight: 500;
            margin-bottom: 20px;
        }
        p{
            line-height: 1.5;
        }
        @media (max-width: 768px){
            width: 100%;
        }
    }

    i.left-arrow{
        @include centerY();
        color: white;
        font-size: 50px;
        left: 10px;;
        transition: 0.3s;
        &:hover{
            padding-left: 10px;
            color: $main-color;
        }
        @media (max-width: 768px){
            display: none;
        }

    }
    i.right-arrow{
        &:last-of-type{
            @include centerY();
            color: white;
            font-size: 50px;
            right: 10px;;
            transition: 0.3s;
            &:hover{
                padding-right: 10px;
                color: $main-color;
            }
            @media (max-width: 768px){
                display: none;
            }
        }
    }

    .bullets{
        @include centerX();
        bottom:20px;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: white;
            border: 1px solid white;
            margin-right: 20px; 
            transition: 0.3s;
            &:hover, &__active{
                background-color: $main-color;
                border: none;
                transform: translateY(-10px) scale(1.1);
            }
        }
        li.active{
            background-color: $main-color;
            border: none;
        }
    }
}
// End home section 


// start services section 
.services-section{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    .container{


        .services{
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;
            .service{
                padding: 10px;
                margin-bottom: 30px;
                display: flex;
                flex: 40%;
                margin-right: 5%;
                i{
                    color: $main-color;
                    margin-right: 30px;
                    transition: 0.3s;
                    &:hover{
                        transform: translateY(-10px) scale(1.3);
                        // padding-bottom: 20px ;
                    }
                }
                .data{
                    h2{
                        margin: 0;
                        margin-bottom: 30px;
                        font-size: 30px;
                        font-weight: normal;
                    }
                    p{
                        font-size: 15px;
                        color: #777;
                        line-height: 1.5;
                    }
                }
                @media (max-width: 991px){
                    flex: 85%;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    i{
                       margin-right: 0;
                       margin-bottom: 30px;
                    }
                    .data{
                        align-items: center;
                    }
                }
            }
            @media screen and (max-width:$breakpoint-sm) {
                margin-top: 100px;
            }
        }
    }
}
// End services section 

// start desing section 
.design-section{
    position: relative;
    height: 600px;
    background-image: url('../asssets/design-features.jpg');
    background-size: cover;
    overflow: hidden;
    &::before{
        content: '';
        @include overlay(0.7);
    }
    .design-content{
        position: relative;
        width: 100%;
        height: 100%;
        img{
            &:first-of-type{
                position: absolute;
                bottom: -80px;
                left: 100px;
                @media screen and (max-width:$breakpoint-lg) {
                    display: none;
                }
            }
        }
        .data{
            width: 50%;
            height: 60%;
            background-color: $transparent-color;
            @include centerY();
            padding: 50px;
            right: 0;
            color: white;
            h2{
                padding-bottom: 40px;
                font-weight: normal;
            }
            ul{
                max-width: 100%;
                li{
                    font-size: 20px;
                    display: block;
                    padding-bottom: 30px;
                    font-weight: normal;
                    &::before{
                        content: "\f108";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        margin-right: 20px;
                    }
                }
            }
            @media screen and (max-width:$breakpoint-lg) {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
// End desing section 

/* start portfolio section */ 
.portfolio-section{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    position: relative;
    .container{
        padding-bottom: 50px;
        ul{
            display: flex;
            justify-content:  center;
            align-items: center;
            margin-top: 30px;
            li{
                display: block;
                padding: 15px;
                transition: 0.3s;
            }
            li.active , li:hover{
                background-color: $main-color;
                color: white;

            }
            @media (max-width: $breakpoint-sm) {
                margin-top: 80px;
            }
        }
    } 

    .img-container{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        .card{
            width: 25%;
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                transition: 0.3s;
            }
            .data{
                position: absolute;
                bottom: -100%;
                background: white;
                width: 100%;
                padding: 10px 20px;
                transition: 0.3s;
                h2{
                    font-weight: normal;
                    color: $main-color;
                }
                p{
                    color: #777;
                }
            }
            &:hover{
                img{
                    transform: rotate(3deg) scale(1.1);
                }
                .data  {
                    bottom: 0;
                }
            }

            @media screen and (max-width:$breakpoint-lg){
                width: 50%;
            }
            @media screen and (max-width:$breakpoint-md){
                width: 98%;
                margin: 0 auto 0;
            }
        }
    }
    .more-btn{
        padding: 10px;
        color: white;
        background-color: black;
        @include centerX();
        border: none;
        cursor: pointer;
        margin-top: 25px;
        transition: 0.3s;
        padding: 10px 20px ;
        border-radius: 4px;
        &:hover{
            transform: translate(-50%, 10px) scale(1.1);
            background-color: $main-color;
        }
    }
}
/* End portfolio section */ 

/* start video section */ 
.video-section{
    position: relative;
    &::before{
        content: '';
        @include overlay(0.5);
    }
    .video{
        width: 100%;
        height: 100%
    }
    .video-content{
        @include center(); 
        @include flex-center();
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 40%;
        background-color: $transparent-color;
        color: white;

        h2{
            font-weight: normal;
            padding-bottom: 20px;
            @media (max-width: $breakpoint-sm) {
                font-size: 15px;
                padding-bottom: 5px;
            }
        }
        p{
            padding-bottom: 20px;
            @media (max-width: $breakpoint-sm) {
                font-size: 10px;
                padding-bottom: 5px;
            }
        }
        button{
            background-color: #000;
            color: white;
            border: none;
            padding: 10px 20px ;
            border-radius: 4px;
            transition: 0.3s;
            &:hover{
                background-color: $main-color;
                color: white;
                outline: none;
                transform: scale(1.1) translateY(10px);
            }
            @media (max-width: $breakpoint-sm) {
                padding: 3px;
                border-radius: 1px;
                font-size: 10px;
            }
        }
    }
}
/* End video section */ 


/* start about section */ 
.about-section{
    padding-top: $section-padding;
    text-align: center;
    overflow: hidden;
    position: relative;
    .about-img{
        position: relative;
        bottom: -120px;
    }
}
/* End about section */ 

/* start states section */ 
.states-section {
    padding-top: calc($section-padding /2);
    padding-bottom: calc($section-padding /2);
    min-height: 400px;
    background-image: url('../asssets/stats.png');
    background-size: cover;
    @include flex-center();

    position: relative;
    &::before{
        content: '';
        @include overlay(0.7);
    }
    .states-content{
        position: relative;
        width: 60%;
        min-height: 40%;
        background-color: $transparent-color;
        padding: 50px;
        color: white;
        display: flex;

        .state{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            &:hover{
                i,p{
                    color: $main-color
                }
            }
            i{
                @include circle(40px);
                @include flex-center();
                background-color: black;
                color: white;
                margin-bottom: 20px;    
                transition: 0.3s;
            }
            p{
                transition: 0.3s;
                &:first-of-type{
                    font-size: 30px;
                    font-weight: bold;
                }
                &:last-of-type{
                    font-size: 14px;
                }
            }
            flex: 25%;
            @media (max-width: $breakpoint-lg){
                flex: 50%;
                margin-bottom: 40px;
            }
            @media (max-width: $breakpoint-md){
                flex: 100%;
            }
        }
        @media (max-width: $breakpoint-lg){
            flex-wrap: wrap;
        }
        @media (max-width: $breakpoint-sm){
            width: 100%;
        }
    }
}
/* End states section */ 

/* start quote section */
.quote{
    background-image:url(../asssets/quote.jpg) ;
    background-size: cover;
    min-height: 300px;
    @include flex-center();
    position: relative;
    &::before{
        content: '';
        @include overlay(0.8);
    }
    .container{
        position: relative;
        text-align: center;
        color: white;

        q{
            font-size: 30px;
            margin-bottom: 30px;
            display: block;
        }
    }
}
/* End quote section */

/* start testmonils section */ 
.testmonials-section{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .card{
            flex: 45%;
            &:first-of-type{
                margin-right: 5%;
            }
            @media (max-width:$breakpoint-lg) {
                flex: 90%;
                margin: 20px 0 20px;
                &:first-of-type{
                    margin-right: 0%;
                }
            }
        }
        .heading{
            text-align: center;
            h2{
                font-weight: normal;
                color: #19c8fa;
                font-size: 40px;
                margin-bottom: 20px;
            }
            p{
                color: #777;
                line-height: 1.5;
            }
            margin-bottom: 30px;
        }

        .testmonials{
            position: relative;
            padding: 20px auto 40px;
            .testmonial{
                display: flex;
                justify-content: space-between;
                @media (max-width:$breakpoint-lg) {
                    margin-top: 30px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
                img{
                    &:first-of-type{
                        @include circle(100px); 
                        margin-right: 5%;
                        margin-bottom: 30px;
                    }
                }
                .content{
                    flex: 1;
                    border-bottom: 1px solid #777;
                    margin-bottom: 20px;
                    p{
                        margin-bottom: 30px;
                        &:nth-of-type(2){
                            color: #777;
                            margin-top: 10px;
                            text-align: right;
                        }
                    }
                }
            }
            .bullets{
                bottom:20px;
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: white;
                    border: 1px solid #777;
                    margin-right: 20px; 
                    transition: 0.3s;
                    &:hover, &__active{
                        background-color: $main-color;
                        border: none;
                        transform: translateY(-10px) scale(1.1);
                    }
                }
                li.active{
                    background-color: $main-color;
                    border: none;
                }
            }
        }
        .skills{
            .skill{
                margin-bottom: 20px;
                h4{
                    margin-bottom: 15px;
                    font-weight: normal;
                    text-transform: uppercase;
                }
                .prog-holder{
                    height: 30px;
                    background-color: #888;
                    span{
                        height: 100%;
                        background-color: $main-color;
                        display: block;
                        position: relative;
                        text-align: right;
                        font-size: 25px;
                        // &::before{
                        //     content: "90%";
                        //     position: absolute;
                        //     right: 0;
                        //     top: -130%;
                        //     background-color: black;
                        //     color: white;
                        //     border-radius: 10px;
                        //     padding: 5px;
                        
                        // }
                        // &::after{
                        //     content: '';
                        //     border: 5px solid;
                        //     border-color: red green blue yellow;
                        //     position: absolute;
                        //     right: 0;
                        // }
                    }
                }
            }
        }

    }
}
/* end testmonils section */ 

/* start peicing section*/ 
.pricing-section{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    .container{
        .prices{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            margin-top: 20px;
            @media(max-width:$breakpoint-md){
                margin-top: 70px;
            }
            .price{
                background-color: #eee;
                flex: 20%;
                margin-right: 3%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .head{
                    padding: 20px;
                    font-weight: normal;
                    border-top: 1px solid $main-color;
                    border-bottom: 1px solid $main-color;
                    width: 100%;
                    p{
                        font-size: 60px;
                        font-weight: bold;
                        position: relative;
                        &::before{
                            content: "$";
                            position: absolute;
                            left: 30px;
                            font-size: 20px;
                            top: 0;
                        }
                        &::after{
                            content: "/Mo";
                            position: absolute;
                            font-weight: normal;
                            font-size: 20px;
                            bottom: 0;
                        }
                    }
                }
                .feature{
                    font-size: 15px;
                    position: relative;
                    padding: 15px;
                    width: 100%;
                    &:not(&:last-of-type)::after{
                        content: '';
                        @include centerX();
                        bottom: 0;
                        width: 60px;
                        height: 1px;
                        background-color: $main-color;
                    }
                    &:last-of-type{
                        border-bottom: 1px solid $main-color;
                    }
                }
                button{
                    padding: 10px 20px;
                    margin: 20px auto 20px;
                    background-color: black;
                    border-radius: 3px;
                    color: white;
                    outline: none;
                    border:none;
                    &:hover{
                        background-color: $main-color;
                        transform: scale(1.1) translateY(10px);
                    }
                }
                @media (max-width:$breakpoint-lg) {
                    flex: 45%;
                    margin-top: 20px;
                }
                @media (max-width:$breakpoint-md){
                    flex: 95%;
                }
            }
        }        
    }
}
/* End peicing section*/ 