/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  /* or the fonts you chose */
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* Small */
  /* Medium */
  /* Large */
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* start variables*/
/* End variables*/
/* start mixins */
/* End End */
/* start global components*/
.special-heading {
  padding-bottom: 50px;
  text-align: center;
  position: relative;
}
.special-heading h2:first-of-type {
  text-transform: uppercase;
  font-weight: normal;
  color: black;
  padding-bottom: 30px;
  font-size: 40px;
  position: relative;
  margin-bottom: 40px;
  transition: 0.3s;
}
.special-heading h2::before {
  content: "";
  width: 130px;
  height: 2px;
  background-color: #777;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.special-heading h2:after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #777;
  bottom: -10px;
  transition: 0.3s;
}
.special-heading h2:hover::after {
  background-color: #19c8fa;
}
.special-heading p:first-of-type {
  color: #777;
  width: 50%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* End global components*/
.home_section {
  min-height: 100vh;
  background-color: aqua;
  background-image: url("../asssets/landing.jpg");
  background-size: cover;
  position: relative;
}
.home_section:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.home_section .header {
  position: relative;
  padding: 15px;
  min-height: 60px;
}
.home_section .header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_section .header .container img:first-of-type {
  height: 40px;
}
.home_section .header .container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_section .header .container .nav ul {
  display: flex;
  z-index: 2;
  transition: 0.5s;
}
.home_section .header .container .nav ul li {
  display: block;
}
.home_section .header .container .nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  padding: 17px 10px;
  transition: 0.5s;
}
.home_section .header .container .nav ul li a:hover, .home_section .header .container .nav ul li .active {
  color: #19c8fa;
  border-bottom: 1px solid #19c8fa;
}
@media (max-width: 768px) {
  .home_section .header .container .nav ul {
    display: none;
  }
}
.home_section .header .container .nav i:first-of-type {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
@media (max-width: 768px) {
  .home_section .header .container .nav i:first-of-type {
    display: block;
    right: 50px;
  }
  .home_section .header .container .nav i:first-of-type:hover + ul,
.home_section .header .container .nav i:first-of-type + ul:hover {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .home_section .header .container .nav i:first-of-type:hover + ul li,
.home_section .header .container .nav i:first-of-type + ul:hover li {
    padding: 20px 0;
    width: 100%;
  }
  .home_section .header .container .nav i:first-of-type:hover + ul li a,
.home_section .header .container .nav i:first-of-type + ul:hover li a {
    display: block;
  }
}
.home_section .header .container .nav i:last-of-type {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.home_section .header .container:after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: -10px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: #aaa;
}
.home_section .text {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: rgba(15, 116, 143, 0.7);
  width: 60%;
  padding: 50px;
}
.home_section .text h2 {
  text-transform: uppercase;
  line-height: 2;
  font-weight: 500;
  margin-bottom: 20px;
}
.home_section .text p {
  line-height: 1.5;
}
@media (max-width: 768px) {
  .home_section .text {
    width: 100%;
  }
}
.home_section i.left-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 50px;
  left: 10px;
  transition: 0.3s;
}
.home_section i.left-arrow:hover {
  padding-left: 10px;
  color: #19c8fa;
}
@media (max-width: 768px) {
  .home_section i.left-arrow {
    display: none;
  }
}
.home_section i.right-arrow:last-of-type {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 50px;
  right: 10px;
  transition: 0.3s;
}
.home_section i.right-arrow:last-of-type:hover {
  padding-right: 10px;
  color: #19c8fa;
}
@media (max-width: 768px) {
  .home_section i.right-arrow:last-of-type {
    display: none;
  }
}
.home_section .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_section .bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
  margin-right: 20px;
  transition: 0.3s;
}
.home_section .bullets li:hover, .home_section .bullets li__active {
  background-color: #19c8fa;
  border: none;
  transform: translateY(-10px) scale(1.1);
}
.home_section .bullets li.active {
  background-color: #19c8fa;
  border: none;
}

.services-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.services-section .container .services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.services-section .container .services .service {
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  flex: 40%;
  margin-right: 5%;
}
.services-section .container .services .service i {
  color: #19c8fa;
  margin-right: 30px;
  transition: 0.3s;
}
.services-section .container .services .service i:hover {
  transform: translateY(-10px) scale(1.3);
}
.services-section .container .services .service .data h2 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: normal;
}
.services-section .container .services .service .data p {
  font-size: 15px;
  color: #777;
  line-height: 1.5;
}
@media (max-width: 991px) {
  .services-section .container .services .service {
    flex: 85%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .services-section .container .services .service i {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .services-section .container .services .service .data {
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .services-section .container .services {
    margin-top: 100px;
  }
}

.design-section {
  position: relative;
  height: 600px;
  background-image: url("../asssets/design-features.jpg");
  background-size: cover;
  overflow: hidden;
}
.design-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.design-section .design-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.design-section .design-content img:first-of-type {
  position: absolute;
  bottom: -80px;
  left: 100px;
}
@media screen and (max-width: 992px) {
  .design-section .design-content img:first-of-type {
    display: none;
  }
}
.design-section .design-content .data {
  width: 50%;
  height: 60%;
  background-color: rgba(15, 116, 143, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  right: 0;
  color: white;
}
.design-section .design-content .data h2 {
  padding-bottom: 40px;
  font-weight: normal;
}
.design-section .design-content .data ul {
  max-width: 100%;
}
.design-section .design-content .data ul li {
  font-size: 20px;
  display: block;
  padding-bottom: 30px;
  font-weight: normal;
}
.design-section .design-content .data ul li::before {
  content: "\f108";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 20px;
}
@media screen and (max-width: 992px) {
  .design-section .design-content .data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* start portfolio section */
.portfolio-section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.portfolio-section .container {
  padding-bottom: 50px;
}
.portfolio-section .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.portfolio-section .container ul li {
  display: block;
  padding: 15px;
  transition: 0.3s;
}
.portfolio-section .container ul li.active, .portfolio-section .container ul li:hover {
  background-color: #19c8fa;
  color: white;
}
@media (max-width: 576px) {
  .portfolio-section .container ul {
    margin-top: 80px;
  }
}
.portfolio-section .img-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-section .img-container .card {
  width: 25%;
  position: relative;
  overflow: hidden;
}
.portfolio-section .img-container .card img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.portfolio-section .img-container .card .data {
  position: absolute;
  bottom: -100%;
  background: white;
  width: 100%;
  padding: 10px 20px;
  transition: 0.3s;
}
.portfolio-section .img-container .card .data h2 {
  font-weight: normal;
  color: #19c8fa;
}
.portfolio-section .img-container .card .data p {
  color: #777;
}
.portfolio-section .img-container .card:hover img {
  transform: rotate(3deg) scale(1.1);
}
.portfolio-section .img-container .card:hover .data {
  bottom: 0;
}
@media screen and (max-width: 992px) {
  .portfolio-section .img-container .card {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .portfolio-section .img-container .card {
    width: 98%;
    margin: 0 auto 0;
  }
}
.portfolio-section .more-btn {
  padding: 10px;
  color: white;
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  cursor: pointer;
  margin-top: 25px;
  transition: 0.3s;
  padding: 10px 20px;
  border-radius: 4px;
}
.portfolio-section .more-btn:hover {
  transform: translate(-50%, 10px) scale(1.1);
  background-color: #19c8fa;
}

/* End portfolio section */
/* start video section */
.video-section {
  position: relative;
}
.video-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.video-section .video {
  width: 100%;
  height: 100%;
}
.video-section .video-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 40%;
  background-color: rgba(15, 116, 143, 0.7);
  color: white;
}
.video-section .video-content h2 {
  font-weight: normal;
  padding-bottom: 20px;
}
@media (max-width: 576px) {
  .video-section .video-content h2 {
    font-size: 15px;
    padding-bottom: 5px;
  }
}
.video-section .video-content p {
  padding-bottom: 20px;
}
@media (max-width: 576px) {
  .video-section .video-content p {
    font-size: 10px;
    padding-bottom: 5px;
  }
}
.video-section .video-content button {
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.3s;
}
.video-section .video-content button:hover {
  background-color: #19c8fa;
  color: white;
  outline: none;
  transform: scale(1.1) translateY(10px);
}
@media (max-width: 576px) {
  .video-section .video-content button {
    padding: 3px;
    border-radius: 1px;
    font-size: 10px;
  }
}

/* End video section */
/* start about section */
.about-section {
  padding-top: 100px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.about-section .about-img {
  position: relative;
  bottom: -120px;
}

/* End about section */
/* start states section */
.states-section {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 400px;
  background-image: url("../asssets/stats.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.states-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.states-section .states-content {
  position: relative;
  width: 60%;
  min-height: 40%;
  background-color: rgba(15, 116, 143, 0.7);
  padding: 50px;
  color: white;
  display: flex;
}
.states-section .states-content .state {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 25%;
}
.states-section .states-content .state:hover i, .states-section .states-content .state:hover p {
  color: #19c8fa;
}
.states-section .states-content .state i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin-bottom: 20px;
  transition: 0.3s;
}
.states-section .states-content .state p {
  transition: 0.3s;
}
.states-section .states-content .state p:first-of-type {
  font-size: 30px;
  font-weight: bold;
}
.states-section .states-content .state p:last-of-type {
  font-size: 14px;
}
@media (max-width: 992px) {
  .states-section .states-content .state {
    flex: 50%;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .states-section .states-content .state {
    flex: 100%;
  }
}
@media (max-width: 992px) {
  .states-section .states-content {
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .states-section .states-content {
    width: 100%;
  }
}

/* End states section */
/* start quote section */
.quote {
  background-image: url(../asssets/quote.jpg);
  background-size: cover;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.quote::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.quote .container {
  position: relative;
  text-align: center;
  color: white;
}
.quote .container q {
  font-size: 30px;
  margin-bottom: 30px;
  display: block;
}

/* End quote section */
/* start testmonils section */
.testmonials-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.testmonials-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.testmonials-section .container .card {
  flex: 45%;
}
.testmonials-section .container .card:first-of-type {
  margin-right: 5%;
}
@media (max-width: 992px) {
  .testmonials-section .container .card {
    flex: 90%;
    margin: 20px 0 20px;
  }
  .testmonials-section .container .card:first-of-type {
    margin-right: 0%;
  }
}
.testmonials-section .container .heading {
  text-align: center;
  margin-bottom: 30px;
}
.testmonials-section .container .heading h2 {
  font-weight: normal;
  color: #19c8fa;
  font-size: 40px;
  margin-bottom: 20px;
}
.testmonials-section .container .heading p {
  color: #777;
  line-height: 1.5;
}
.testmonials-section .container .testmonials {
  position: relative;
  padding: 20px auto 40px;
}
.testmonials-section .container .testmonials .testmonial {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .testmonials-section .container .testmonials .testmonial {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.testmonials-section .container .testmonials .testmonial img:first-of-type {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 5%;
  margin-bottom: 30px;
}
.testmonials-section .container .testmonials .testmonial .content {
  flex: 1;
  border-bottom: 1px solid #777;
  margin-bottom: 20px;
}
.testmonials-section .container .testmonials .testmonial .content p {
  margin-bottom: 30px;
}
.testmonials-section .container .testmonials .testmonial .content p:nth-of-type(2) {
  color: #777;
  margin-top: 10px;
  text-align: right;
}
.testmonials-section .container .testmonials .bullets {
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testmonials-section .container .testmonials .bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #777;
  margin-right: 20px;
  transition: 0.3s;
}
.testmonials-section .container .testmonials .bullets li:hover, .testmonials-section .container .testmonials .bullets li__active {
  background-color: #19c8fa;
  border: none;
  transform: translateY(-10px) scale(1.1);
}
.testmonials-section .container .testmonials .bullets li.active {
  background-color: #19c8fa;
  border: none;
}
.testmonials-section .container .skills .skill {
  margin-bottom: 20px;
}
.testmonials-section .container .skills .skill h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.testmonials-section .container .skills .skill .prog-holder {
  height: 30px;
  background-color: #888;
}
.testmonials-section .container .skills .skill .prog-holder span {
  height: 100%;
  background-color: #19c8fa;
  display: block;
  position: relative;
  text-align: right;
  font-size: 25px;
}

/* end testmonils section */
/* start peicing section*/
.pricing-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.pricing-section .container .prices {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .pricing-section .container .prices {
    margin-top: 70px;
  }
}
.pricing-section .container .prices .price {
  background-color: #eee;
  flex: 20%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-section .container .prices .price .head {
  padding: 20px;
  font-weight: normal;
  border-top: 1px solid #19c8fa;
  border-bottom: 1px solid #19c8fa;
  width: 100%;
}
.pricing-section .container .prices .price .head p {
  font-size: 60px;
  font-weight: bold;
  position: relative;
}
.pricing-section .container .prices .price .head p::before {
  content: "$";
  position: absolute;
  left: 30px;
  font-size: 20px;
  top: 0;
}
.pricing-section .container .prices .price .head p::after {
  content: "/Mo";
  position: absolute;
  font-weight: normal;
  font-size: 20px;
  bottom: 0;
}
.pricing-section .container .prices .price .feature {
  font-size: 15px;
  position: relative;
  padding: 15px;
  width: 100%;
}
.pricing-section .container .prices .price .feature:not(.pricing-section .container .prices .price .feature:last-of-type)::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 1px;
  background-color: #19c8fa;
}
.pricing-section .container .prices .price .feature:last-of-type {
  border-bottom: 1px solid #19c8fa;
}
.pricing-section .container .prices .price button {
  padding: 10px 20px;
  margin: 20px auto 20px;
  background-color: black;
  border-radius: 3px;
  color: white;
  outline: none;
  border: none;
}
.pricing-section .container .prices .price button:hover {
  background-color: #19c8fa;
  transform: scale(1.1) translateY(10px);
}
@media (max-width: 992px) {
  .pricing-section .container .prices .price {
    flex: 45%;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .pricing-section .container .prices .price {
    flex: 95%;
  }
}

/* End peicing section*/

/*# sourceMappingURL=style.css.map */
